.contenido-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-izquierda {
    margin-right: 20px; /* Espacio entre el texto y la imagen */
    text-align: left;
}

.imagen-container {
    max-width: 100%;
}

#imagenFloral {
    max-width: 100%;
    height: auto;
}
